<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {{ properties.title }}
        </title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
       <link rel="apple-touch-icon"
            sizes="57x57"
            href="{{ bsi_cx_asset(
                '../../resources/images/favicons/favicon.ico'
            )
            }}" />
          <link rel="apple-touch-icon"
            sizes="57x57"
            href="{{
            bsi_cx_asset(
                '../../resources/images/favicons/apple-touch-icon.png'
            )
            }}" />
        <link rel="icon"
            type="image/png"
            sizes="192x192"
            href="{{
            bsi_cx_asset(
                '../../resources/images/favicons/android-chrome-192x192.png'
            )
            }}" />
         <link rel="icon"
            type="image/png"
            sizes="16x16"
            href="{{
            bsi_cx_asset(
               '../../resources/images/favicons/favicon-16x16.png'
            )
            }}" />
             <link rel="icon"
            type="image/png"
            sizes="16x16"
            href="{{
            bsi_cx_asset(
               '../../resources/images/favicons/favicon-32x32.png'
            )
            }}" />
               <link rel="icon"
            type="image/png"
            sizes="512x512"
            href="{{
            bsi_cx_asset(
               '../../resources/images/favicons/android-chrome-512x512.png'
            )
            }}" /> 
        <link rel="stylesheet" href="{{ bsi_cx_css_href() }}" />
    </head>
    <body>
        <header data-bsi-dropzone="header"
            data-bsi-dropzone-allowed-elements="header">
            {% block header %}
            {% endblock %}
        </header>

        <main data-bsi-dropzone="main" class="main-content-container">
            {% block main %}
            {% endblock %}
        </main>

        <footer data-bsi-dropzone="footer">
            {% block footer %}
            {% endblock %}
        </footer>
<script data-bsi-remove-if="draft" src="{{ bsi_cx_js_module_href('main') }}"></script>
        <script src="{{ bsi_cx_js_module_runtime_href() }}"
            defer="defer"></script>
        {# <script src="{{ bsi_cx_js_module_href('main') }}"
            defer="defer"></script> #}
        {{ bsi_cx_js_module_missing_chunks_import() }}
    </body>
</html>
